.elementor-39 .elementor-element.elementor-element-7d54db1 > .elementor-container > .elementor-column > .elementor-widget-wrap{
    align-content:center;
    align-items:center;
}
.elementor-39 .elementor-element.elementor-element-7d54db1 > .elementor-background-overlay{
    opacity:0.5;
    transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-39 .elementor-element.elementor-element-7d54db1{
    transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding:5px 0px 5px 0px;
}
.elementor-39 .elementor-element.elementor-element-40b5639{
    text-align:left;
}
.elementor-39 .elementor-element.elementor-element-40b5639 img{
    width:185px;
}
.elementor-39 .elementor-element.elementor-element-15404d4.elementor-column > .elementor-widget-wrap{
    justify-content:center;
}
.elementor-39 .elementor-element.elementor-element-15404d4 > .elementor-element-populated{
    margin:0px 25px 0px 0px;
    --e-column-margin-right:25px;
    --e-column-margin-left:0px;
}
.elementor-39 .elementor-element.elementor-element-2ff88ef .hfe-nav-menu__toggle{
    margin-left:auto;
}
.elementor-39 .elementor-element.elementor-element-2ff88ef .menu-item a.hfe-menu-item{
    padding-left:15px;
    padding-right:15px;
}
.elementor-39 .elementor-element.elementor-element-2ff88ef .menu-item a.hfe-sub-menu-item{
    padding-left:calc( 15px + 20px );
    padding-right:15px;
}
.elementor-39 .elementor-element.elementor-element-2ff88ef .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item{
    padding-left:calc( 15px + 40px );
    padding-right:15px;
}
.elementor-39 .elementor-element.elementor-element-2ff88ef .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item{
    padding-left:calc( 15px + 60px );
    padding-right:15px;
}
.elementor-39 .elementor-element.elementor-element-2ff88ef .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item{
    padding-left:calc( 15px + 80px );
    padding-right:15px;
}
.elementor-39 .elementor-element.elementor-element-2ff88ef .menu-item a.hfe-menu-item, .elementor-39 .elementor-element.elementor-element-2ff88ef .menu-item a.hfe-sub-menu-item{
    padding-top:15px;
    padding-bottom:15px;
}
.elementor-39 .elementor-element.elementor-element-2ff88ef a.hfe-menu-item, .elementor-39 .elementor-element.elementor-element-2ff88ef a.hfe-sub-menu-item{
    font-family:"Poppins", Sans-serif;
    font-size:14px;
    font-weight:500;
}
.elementor-39 .elementor-element.elementor-element-2ff88ef .menu-item a.hfe-menu-item, .elementor-39 .elementor-element.elementor-element-2ff88ef .sub-menu a.hfe-sub-menu-item{
    color:#232323;
}
.elementor-39 .elementor-element.elementor-element-2ff88ef .menu-item a.hfe-menu-item:hover, .elementor-39 .elementor-element.elementor-element-2ff88ef .sub-menu a.hfe-sub-menu-item:hover, .elementor-39 .elementor-element.elementor-element-2ff88ef .menu-item.current-menu-item a.hfe-menu-item, .elementor-39 .elementor-element.elementor-element-2ff88ef .menu-item a.hfe-menu-item.highlighted, .elementor-39 .elementor-element.elementor-element-2ff88ef .menu-item a.hfe-menu-item:focus{
    color:#FF491C;
}
.elementor-39 .elementor-element.elementor-element-2ff88ef .menu-item.current-menu-item a.hfe-menu-item, .elementor-39 .elementor-element.elementor-element-2ff88ef .menu-item.current-menu-ancestor a.hfe-menu-item{
    color:#FF491C;
}
.elementor-39 .elementor-element.elementor-element-2ff88ef .sub-menu, .elementor-39 .elementor-element.elementor-element-2ff88ef nav.hfe-dropdown, .elementor-39 .elementor-element.elementor-element-2ff88ef nav.hfe-dropdown-expandible, .elementor-39 .elementor-element.elementor-element-2ff88ef nav.hfe-dropdown .menu-item a.hfe-menu-item, .elementor-39 .elementor-element.elementor-element-2ff88ef nav.hfe-dropdown .menu-item a.hfe-sub-menu-item{
    background-color:#fff;
}
 .elementor-39 .elementor-element.elementor-element-2ff88ef .sub-menu li a.hfe-sub-menu-item, .elementor-39 .elementor-element.elementor-element-2ff88ef nav.hfe-dropdown li a.hfe-sub-menu-item, .elementor-39 .elementor-element.elementor-element-2ff88ef nav.hfe-dropdown li a.hfe-menu-item, .elementor-39 .elementor-element.elementor-element-2ff88ef nav.hfe-dropdown-expandible li a.hfe-menu-item, .elementor-39 .elementor-element.elementor-element-2ff88ef nav.hfe-dropdown-expandible li a.hfe-sub-menu-item{
    font-family:"Poppins", Sans-serif;
    font-size:13px;
    font-weight:500;
}
.elementor-39 .elementor-element.elementor-element-2ff88ef ul.sub-menu{
    width:220px;
}
.elementor-39 .elementor-element.elementor-element-2ff88ef .sub-menu a.hfe-sub-menu-item, .elementor-39 .elementor-element.elementor-element-2ff88ef nav.hfe-dropdown li a.hfe-menu-item, .elementor-39 .elementor-element.elementor-element-2ff88ef nav.hfe-dropdown li a.hfe-sub-menu-item, .elementor-39 .elementor-element.elementor-element-2ff88ef nav.hfe-dropdown-expandible li a.hfe-menu-item, .elementor-39 .elementor-element.elementor-element-2ff88ef nav.hfe-dropdown-expandible li a.hfe-sub-menu-item{
    padding-top:15px;
    padding-bottom:15px;
}
.elementor-39 .elementor-element.elementor-element-2ff88ef .sub-menu li.menu-item:not(:last-child), .elementor-39 .elementor-element.elementor-element-2ff88ef nav.hfe-dropdown li.menu-item:not(:last-child), .elementor-39 .elementor-element.elementor-element-2ff88ef nav.hfe-dropdown-expandible li.menu-item:not(:last-child){
    border-bottom-style:none;
}
.elementor-39 .elementor-element.elementor-element-2ff88ef .menu-item a.hfe-menu-item.elementor-button{
    padding:10px 10px 10px 10px;
    color:#FFFFFF;
    background-color:#FF491C;
    border-radius:10px 10px 10px 10px;
}
@media(max-width:1024px){
    .elementor-39 .elementor-element.elementor-element-7d54db1{
        padding:0px 25px 0px 25px;
    }
    .elementor-39 .elementor-element.elementor-element-40b5639 img{
        width:185px;
    }
    .elementor-39 .elementor-element.elementor-element-15404d4.elementor-column > .elementor-widget-wrap{
        justify-content:flex-end;
    }
    .elementor-39 .elementor-element.elementor-element-15404d4 > .elementor-element-populated{
        padding:0px 15px 0px 0px;
    }
    body:not(.rtl) .elementor-39 .elementor-element.elementor-element-2ff88ef.hfe-nav-menu__breakpoint-tablet .hfe-nav-menu__layout-horizontal .hfe-nav-menu > li.menu-item:not(:last-child){
        margin-right:0px;
    }
    body .elementor-39 .elementor-element.elementor-element-2ff88ef nav.hfe-nav-menu__layout-vertical .hfe-nav-menu > li.menu-item:not(:last-child){
        margin-bottom:0px;
    }
}
@media(max-width:767px){
    .elementor-39 .elementor-element.elementor-element-7d54db1{
        padding:0px 0px 0px 0px;
    }
    .elementor-39 .elementor-element.elementor-element-f6cd80d{
        width:70%;
    }
    .elementor-39 .elementor-element.elementor-element-40b5639 img{
        width:150px;
    }
    .elementor-39 .elementor-element.elementor-element-15404d4{
        width:25%;
    }
    .elementor-39 .elementor-element.elementor-element-15404d4 > .elementor-element-populated{
        margin:0px 0px 0px 0px;
        --e-column-margin-right:0px;
        --e-column-margin-left:0px;
        padding:0px 0px 0px 0px;
    }
    .elementor-39 .elementor-element.elementor-element-2ff88ef .menu-item a.hfe-menu-item{
        padding-left:15px;
        padding-right:15px;
    }
    .elementor-39 .elementor-element.elementor-element-2ff88ef .menu-item a.hfe-sub-menu-item{
        padding-left:calc( 15px + 20px );
        padding-right:15px;
    }
    .elementor-39 .elementor-element.elementor-element-2ff88ef .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item{
        padding-left:calc( 15px + 40px );
        padding-right:15px;
    }
    .elementor-39 .elementor-element.elementor-element-2ff88ef .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item{
        padding-left:calc( 15px + 60px );
        padding-right:15px;
    }
    .elementor-39 .elementor-element.elementor-element-2ff88ef .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item{
        padding-left:calc( 15px + 80px );
        padding-right:15px;
    }
    .elementor-39 .elementor-element.elementor-element-2ff88ef .menu-item a.hfe-menu-item, .elementor-39 .elementor-element.elementor-element-2ff88ef .menu-item a.hfe-sub-menu-item{
        padding-top:0px;
        padding-bottom:0px;
    }
    body:not(.rtl) .elementor-39 .elementor-element.elementor-element-2ff88ef .hfe-nav-menu__layout-horizontal .hfe-nav-menu > li.menu-item:not(:last-child){
        margin-right:0px;
    }
    body.rtl .elementor-39 .elementor-element.elementor-element-2ff88ef .hfe-nav-menu__layout-horizontal .hfe-nav-menu > li.menu-item:not(:last-child){
        margin-left:0px;
    }
    .elementor-39 .elementor-element.elementor-element-2ff88ef nav:not(.hfe-nav-menu__layout-horizontal) .hfe-nav-menu > li.menu-item:not(:last-child){
        margin-bottom:0px;
    }
    body:not(.rtl) .elementor-39 .elementor-element.elementor-element-2ff88ef.hfe-nav-menu__breakpoint-mobile .hfe-nav-menu__layout-horizontal .hfe-nav-menu > li.menu-item:not(:last-child){
        margin-right:0px;
    }
    body .elementor-39 .elementor-element.elementor-element-2ff88ef nav.hfe-nav-menu__layout-vertical .hfe-nav-menu > li.menu-item:not(:last-child){
        margin-bottom:0px;
    }
    body:not(.rtl) .elementor-39 .elementor-element.elementor-element-2ff88ef .hfe-nav-menu__layout-horizontal .hfe-nav-menu > li.menu-item{
        margin-bottom:0px;
    }
    .elementor-39 .elementor-element.elementor-element-2ff88ef.elementor-element{
        --align-self:flex-start;
    }
}
@media(min-width:768px){
    .elementor-39 .elementor-element.elementor-element-f6cd80d{
        width:30.905%;
    }
    .elementor-39 .elementor-element.elementor-element-15404d4{
        width:69.095%;
    }
}
@media(max-width:1024px) and (min-width:768px){
    .elementor-39 .elementor-element.elementor-element-f6cd80d{
        width:80%;
    }
    .elementor-39 .elementor-element.elementor-element-15404d4{
        width:20%;
    }
}
